<h4>About Tripvibe</h4>
<p>Tripvibe aims to tap into the "Wisdom of the crowd" to gather data that will help Victorians feel more confident about using the Public Transport network as they return to work.</p>
<p>Data collection is anonymous, and used to estimate crowd levels on trams, trains, buses and at station car parks. </p>
<p>This mobile friendly web app is being developed by Red Hat's Open Innovation Labs as a response to the Victorian Department of Transport's Covid-19 Innovation Challenge.</p>
