    <!-- bg image ang search box-->
    <div class="row search-head no-bottom-margin">
      <div class="col s12 m12 l12 search-bg">
        <!-- crowd reporting card -->
        <div class="row">
            <div class="container">
            <div class="row ">
                <div class="col s12">
                <div class="card darken-overlay">
                    <div class="card-content white-text">
                    <span class="card-title">Is your trip crowded?</span>
                    <p>Help us make this public transport safer by telling us how crowded it is.</p>
                    </div>
                    <div class="card-action">
                    <a class="waves-effect light-green darken-2 btn z-depth-2"><i class="material-icons right">group_add</i>Report Crowding </a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Hide this for now
    <div class="container search-box">
      <div class="row search-row no-bottom-margin">
        <div class="col s10"><input placeholder="Search stops or station name" id="input_loc" type="text" class="validate"></div>
        <div class="col s2"><a href="#"><i class="material-icons">search</i></a></div>
      </div>
    </div> -->
    
<app-nearby></app-nearby>