<div class="row">
    <div class="col s8 m8 l8 push-s2 push-m2 push-l2">
        <p class="title">
            Help make public transport better by providing the following information.
        </p>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row">
            <label>Mode of Transport</label>
            <select class="browser-default" [(ngModel)]="route_type" (change)="onRouteTypeChange()">
                <option value="" disabled selected>Choose your option</option>
                <option value="Train">Train</option>
                <option value="Tram">Tram</option>
                <option value="Bus">Bus</option>
                <option value="Vline">Vline</option>
                <option value="Night Bus">Night Bus</option>
            </select>
        </div>
        <div class="row">
            <label>Nearby Stop / Station</label>
            <select class="browser-default" [(ngModel)]="stop_name">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let stop of stopNames" [value]="stop">{{ stop }}</option>
            </select>
        </div>
        <div class="row">
            <label>Bus Number / Tram Number</label>
            <select class="browser-default" [(ngModel)]="route_number">
                <option value="" disabled selected>Choose your option</option>
                <ng-container *ngFor="let departure of departures">
                        <option [value]="departure.number">{{ departure.number }}</option>
                </ng-container>
            </select>
        </div>
        <div class="row">
            <div class="col s12 ">
                <label>How crowded is it?</label>
                <p class="range-field ">
                    <input type="range" id="test5" min="0" max="100" [(ngModel)]="capacity" />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>What's the vibe?</label>
                <p class="range-field">
                    <input type="range" id="test5" min="0" max="100" [(ngModel)]="vibe"/>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s5 push-s7 push-l11">
                <button class="btn waves-effect waves-light" type="submit" name="action" (click)="onSubmit()">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m 12 l12">
                <span>{{submitStatusMessage}}</span>
            </div>
        </div>
    </div>
</div>