<div class="navbar-fixed">
  <nav>
    <!-- navbar -->
    
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Tripvibe</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="about.html">About</a></li>
        <li><a href="data-entry.html">Contribute</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- side menu-->
<ul class="sidenav" id="mobile-demo">
  <li class="collection-item"><a href="#!">Menu</a></li>
  <li class="collection-item"><a href="home">Home</a></li>
  <li class="collection-item"><a href="about">About</a></li>
  <li class="collection-item"><a href="data-entry">Report Crowding</a></li>
</ul>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>