<div class="navbar-fixed">
  <nav>
    <!-- navbar -->
    
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">tripvibe</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <div class="container"><a href="search" class="right" data-target="mobile-demo"><i class="material-icons">search</i></a></div>
      <ul class="right hide-on-med-and-down">
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="data-entry">Report my TripVibe</a></li>
        <li><a href="search">Search</a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- side menu-->
<ul class="sidenav nav-wrapper" id="mobile-demo">
  <li class="collection-item"><a href="home"><i class="material-icons">home</i>Home</a></li>
  <li class="collection-item"><a href="about"><i class="material-icons">info</i>About</a></li>
  <li class="collection-item"><a href="data-entry"><i class="material-icons">group_add</i>Report my TripVibe</a></li>
  <li class="collection-item"><a href="search"><i class="material-icons">search</i>Search</a></li>
</ul>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
