p {
    margin-top: 50px;
    text-align: center;
}

button {
    margin-top: 30px;
}

.range-field {
    margin-top: 10px;
}

.no-margin {
    margin: 0px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + svg {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-left: 5px;
  }

  [type=radio]:checked + svg {
    outline: 2px solid #26a69a;
  }

  .move-right {
    margin-left: 20px;
  }
