<div class="nowrap">
    <svg *ngFor="let filledIcon of filledIcons" class="filled margins" width="15px" height="17px" viewBox="0 0 10 15">
      <path fill-rule="evenodd" d="M0 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>

    <svg *ngFor="let unfilledIcon of unfilledIcons" class="unfilled margins" width="15px" height="17px" viewBox="0 0 10 15">
      <path fill-rule="evenodd" d="M0 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
</div>
