    <!-- nearby -->
    <div class="row no-bottom-margin">
      <div class="col s12 m12 l12 list-header">
        <div class="row no-bottom-margin">
          <div class="col s10 m11 l11"><span class="title"><h6>Options Nearby</h6></span></div>
          <div class="col s2 m1 l1"><a class="btn-flat" (click)="refresh()"><i class="material-icons icon-big-white">cached</i></a></div>
        </div>
      </div>
    </div>
    <div class="row no-bottom-margin">
      <div class="col s12 m12 l12">
        <div class="container center middle list-preload" *ngIf="!loaded">
          <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-green-only">
              <div class="circle-clipper left">
                  <div class="circle"></div>
              </div><div class="gap-patch">
                  <div class="circle"></div>
              </div><div class="circle-clipper right">
                  <div class="circle"></div>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row no-bottom-margin" style="height: 40vh;">
      <div class="col s12 m12 l12 no-margin">
        <ul class="collection no-top-margin" *ngIf="loaded">
          <li class="collection-item avatar" *ngFor="let item of departures; let i = index">
            <a (click)="navigateWithState(i)">
              <div class="row no-bottom-margin">
                <div class="col s9 m10 l10">
                  <i class="material-icons circle transport_mode_icon" [ngClass]="getTypeColor(item.departure.route_type)">{{getTypeIcon(item.departure.route_type)}}</i>
                  <span class="title no-wrap">{{item.departure.route_number}} </span><span>{{item.departure.stop_name.length > 25 ? item.departure.stop_name.substring(0,23) + "..." : item.departure.stop_name}}</span>
                  <p class="description-font">To {{item.departure.direction}}
                    <br>
                    {{item.departure.route_type}} | <span class="time-text">{{getETA(item.departure.departure_time)}}</span>
                  </p>
                </div>
                <div class="col s3 m2 l2 no-margin center">
                  <app-vibe-indicator [sentiment]="item.vibe"></app-vibe-indicator>
                  <app-crowdedness-indicator [capacity]="item.capacity"></app-crowdedness-indicator>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>