    <!-- nearby -->
    <div class="row no-bottom-margin">
        <ul class="collection no-top-margin">
          <li class="collection-item">
            <span class="title"><h6>Nearby Public Transports</h6></span>
          </li>
          <li class="collection-item avatar">
            <div class="row no-bottom-margin">
              <div class="col s8 no-margin">
                <i class="material-icons circle orange transport_mode_icon">directions_bus</i>
                <span class="title">123 Route Name</span>
                <p class="description-font">Name of the Direction/Heading
                  <br>
                  Bus
                </p>
              </div>
              <div class="s4">
                <span class="badge" data-badge-caption="min">4</span>
                <br>
                <span class="badge"><i class="material-icons">people</i></span>
              </div>
            </div>
          </li>
          <li class="collection-item avatar">
            <div class="row no-bottom-margin">
              <div class="col s8 no-margin">
                <i class="material-icons circle green transport_mode_icon">tram</i>
                <span class="title">123 Route Name</span>
                <p class="description-font">Name of the Direction/Heading
                  <br>
                  Tram
                </p>
              </div>
              <div class="s4">
                <span class="badge" data-badge-caption="min">4</span>
                <br>
                <span class="badge"><i class="material-icons">people</i></span>
              </div>
            </div>
          </li>
          <li class="collection-item avatar">
            <div class="row no-bottom-margin">
              <div class="col s8 no-margin">
                <i class="material-icons circle purple transport_mode_icon">directions_transit</i>
                <span class="title">123 Route Name</span>
                <p class="description-font">Name of the Direction/Heading
                  <br>
                  Train
                </p>
              </div>
              <div class="s4">
                <span class="badge" data-badge-caption="min">4</span>
                <br>
                <span class="badge"><i class="material-icons">people</i></span>
              </div>
            </div>
          </li>
        </ul>
      </div>